/*
Import Link: (dont use raw link)
@import url("https://gitcdn.link/cdn/rbxlscripts/BetterDiscordThemesPlugins/main/Themes/AvatarRadiusChanges.css");
:root {
--avatar-radius: 50% /* 0% or 0px for square avatar */
}
*/

.wrapper-1VLyxH foreignObject,
.callAvatarMask-fiNMWy foreignObject,
.avatarContainer-gPrCzX foreignObject,
.avatarMasked-qX7NI7 {
  mask: none;
  -webkit-mask: none;
}
.wrapper-1VLyxH,
.avatar-b5OQ1N,
.profile-1o7I_1 .avatarUploaderInner-yEhTv5,
.voiceAvatar-lRbblo,
.avatar-2e8lTP,
.border-2BJQjd,
.avatar-3FKimL,
.clickableAvatar-igrb2Y,
.emptyUser-2FDCJv,
.avatar-3TrM7c,
.wrapper-3mYmFS.ringingIncoming-fibTw-::after,
.wrapper-3mYmFS.ringingOutgoing-1NjfRn::after,
.replyAvatar-sHd2sU,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainerMasked-13fYnN,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius, 50%);
}
.avatarHint-k7pYop,
.avatarHint-k7pYop foreignObject {
    border-radius: var(--avatar-radius, 50%);
    mask: none;
}
.avatarHintInner-2HUAWj {
    border-radius: var(--avatar-radius, 50%);
}
